@model IEnumerable<Post>

@{

}

<h2>Home Page!</h2>

<img src="~/content/static/antique-art-books-1448709.jpg" width="500"/>
<div>
    <ul>
        @foreach (var post in Model)
        {
            <li>
                <a asp-controoller="Home" asp-action="Post" asp-route-id="@post.Id">
                    @post.Title
                </a>
            </li>
        }
    </ul>
</div>